body {
  background-color: #f6e6d9;
  font-family: "GT Alpina Typewriter", sans-serif;
  width: 100vw;
  display: flex;
  flex-direction: column;
  color: #3c422e;
}

.navbar {
  border-bottom: 1px solid #3c422e;
  padding: 0.1em;
  font-weight: 600;
}

.rightSection::-webkit-scrollbar {
  display: none;
}

.title {
  font-family: "ITC Garamond Condensed", sans-serif;
  font-weight: 500;
  margin-top: 6rem;
  letter-spacing: -1px;
  border-bottom: 2px solid #3c422e;
}
.subtitle {
  margin-bottom: -0.45rem;
}
.rating {
  font-weight: 600;
}

.rating:hover {
  cursor: pointer;
}

.purchase {
  background-color: #fff4ec;
  margin-top: 0.5rem;
}

.set {
  border: 1px solid #3c422e;
  background-color: #fff4ec;
  border-radius: 0.5rem;
}
.set:not(.selectedSet):hover {
  background-color: #f6e6d9;
  cursor: pointer;
}

.selectedSet {
  background-color: #9eef80;
  border: 1px solid #3c422e;
  border-radius: 0.5rem;
}

.label {
  font-size: 0.625rem;
}

.selectedRadio {
  background-color: #9eef80;
}
.purchaseOption:hover {
  cursor: pointer;

  .radioBtn:not(.selectedRadio) {
    background-color: #f6e6d9;
  }
}

.addBtn {
  background-color: #d1e030;
  padding: 0.25rem 0;
}

.custom-button {
  display: inline-block;
  padding: 0;
  background-image: linear-gradient(
      45deg,
      black 25%,
      transparent 25%,
      transparent 75%,
      black 75%,
      black
    ),
    linear-gradient(
      45deg,
      black 25%,
      transparent 25%,
      transparent 75%,
      black 75%,
      black
    );
  background-size: 5px 5px;
  background-position: 0 0, 2.5px 2.5px;
  background-color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}
.frequency {
  background-color: #fff4ec;
  cursor: pointer;
}

.frequency:hover {
  background-color: #f6e6d9;
}

.subLabel,
.frequency {
  display: none;
}

.gifts {
  background-color: #fff4ec;
}

.desc,
.har,
.use {
  font-size: 1rem;
  background-color: #f6e6d9;
  cursor: pointer;
  padding: 0.25rem 0;
}

.desc:not(.selectedTab):hover,
.har:not(.selectedTab):hover,
.use:not(.selectedTab):hover {
  background-color: #fff4ec;
}
.selectedTab:hover {
  cursor: pointer;
}
.selectedTab {
  background-color: #3c422e;
  color: #fff4ec;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
}

.contentBox {
  margin-top: -1rem;
}

/* -----carousel-----*/
.carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 auto;
  width: 100%;
  height: 98vh;
  object-fit: cover;
  display: none;
}

.active {
  display: block;
}

.web-view {
  display: none;
  border: 2px solid black;
  margin-bottom: 0.5rem;
  border-radius: 50%;
}

.mobile-view.selected {
  background-color: #9eef80;
}

.web-view.selected {
  border: 2px solid white;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .web-view {
    display: block;
  }
}

@media (min-width: 768px) {
  .mobile-view {
    display: none;
  }
}

@media (max-width: 768px) {
  .slide {
    height: 90vh;
  }
}
